<template name = 'activityTimeline2'>
	<div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
              <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                <h3>View options</h3>
                <ul>
                  <li>
                    <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Click per object</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Views per object</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Objects selected</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Objects viewed</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">location_on</i>
              </div>
            </div>


	{{#each activities}}

	{{/each}}
</template>

<template name='activityTimeline'>

	<div class="old-clipart-woman mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
	  <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
	    <h2 class="mdl-card__title-text">Activity Timeline</h2>
	  </div>
	  <div class="mdl-card__supporting-text mdl-color-text--grey-600">
	  	<button id='enableActivityMonitoring' style="color:red">Start Activity Monitoring </button>
	    {{#each activities}}
	    	{{> activity}}
	    {{/each}}
	  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
	  </div>
	</div>


</template>
<template name = 'activity'>
	
	{{#if equals changed "area"}}
		<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-location-512.png" width="40"><span class='activity-time'>{{time}}</span><span class='activity-icon'></span><span class='activity-time'> - </span><span class='activity-description'>Grandma is now in {{area}}</span><br><br>
	{{/if}}
	{{#if equals changed "heartRateToNotNormal"}}
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/2000px-Heart_coraz%C3%B3n.svg.png" width="20"><span class='activity-time' style='color:red'>{{time}}</span><span class='activity-icon'></span><span class='activity-time'>  -   </span><span class='activity-description'>Warning! Grandma's heart rate is now {{heartRate}}</span><br><br>
	{{/if}}
	{{#if equals changed "heartRateToNormal"}}
		<img src="http://uxrepo.com/static/icon-sets/font-awesome/svg/heart.svg" width="40"><span class='activity-time' style='color:green'>{{time}}</span><span class='activity-icon'></span> <span class='activity-time'> -  </span> <span class='activity-description'>Grandma's heart rate is now {{heartRate}} :)</span><br><br>
	{{/if}}
</template>